.questionDetailContainer {
    width: 100%;
    max-width: 1222px;
    margin: auto;
}

.createNewAnswer {
    margin-bottom: 20px;
}

.questionDetailTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #222222;
    margin-top: 24px;
}

.questionDetailTextArea {
    margin: 20px 0px;
}

.positiveFeedback {
    width: 126px !important;
    height: 36px !important;
    border: 1px solid #E4E9EC !important;
    border-radius: 6px !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    margin-left: 12px;
}

.negativeFeedback {
    width: 126px !important;
    height: 36px !important;
    border: 1px solid #E4E9EC !important;
    border-radius: 6px !important;
    font-weight: 600 !important;
    font-size: 12px !important;

    span {
        color: #F16063 !important;
    }

}