.primary {
    background-color: #27AE60 !important;
    border-radius: 6px !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    color: #FFFFFF !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    span {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

}

.subtle {
    @extend.primary;
    background-color: transparent !important;
    border: 1px solid #27AE60 !important;

    span {
        color: #27AE60 !important;
    }

}

.link {
    @extend.primary;
    background-color: transparent !important;

    &:hover {
        text-decoration: none !important;
    }

    span {
        color: #27AE60 !important;
    }
}